/*
BAZEN OZDES ALANLARA SAHIP BIR VEYA BIRDEN FAZLA TABLODAN VERILERI AYIKLAMAMIZ (KONTROL ETMEMIZ / VAR MI ? - YOK MU ?) GEREKEBILIR.
COK BASIT BIR SEKILDE VERILERI TEKRARLI VEYA TEKRARSIZ OLARAK SORGULAYABILIRIZ.

SQL SERVER ICERISINDE HAZIR METOD OLARAK BULUNAN INTERSECT VE EXCEPT BIZLERE DOGRUDAN COZUM OLUSTURUR.

***VERITABANI ICERISINDE BULUNAN MERGE1 VE MERGE2 TABLOLARI ICERISINDE PERSONELLERE AIT VERILER BULUNMAKTADIR.
*/

--IKI TABLO ICERISINDE AYNI OLAN VERILERI KONTROL ETMEK ICIN INTERSECT (KESISIM) KULLANIRIZ.
--MEVCUT SQL SORGUSU;
SELECT * FROM MERGE2
INTERSECT
SELECT * FROM MERGE1

--IKI TABLO ICERISINDE, ILK TABLO ICERINDE OLAN VE IKINCI TABLODA BULUNMAYAN VERILERI KONTROL ETMEK ICIN EXCEPT KULLANIRIZ.
--MEVCUT SQL SORGUSU;
SELECT * FROM MERGE2
EXCEPT
SELECT * FROM MERGE1