/*
VERTIABANIMIZ ICERISINDE IKI TABLOMUZ ARASINDAKI VERILERI, BELIRLEDIGIMIZ BIR TABLOYU BAZ ALARAK DIGERINE BELIRLI KOSULLAR ALTINDA AKTARMAMIZ GEREKEBILIR.
BUNUN ICIN MSSQL ICERISINDE BULUNAN BAZI OPERATORLER BIZE YARDIMCI OLUR.
**** MATCHED-NOT MATHCED
*/

/*
MERGE1 TABLOMUZU KAYNAK OLARAK BAZ ALIP MERGE2 TABLOMUZ ICERISINE MEVCUT VERILERI AKTARALIM.
ESLESMEYEN KAYITLARIMIZ VAR ISE DOGRUDAN VERILERI MERGE2 ICERISINE AKTARALIM.
MERGE2 ICERISINDE BULUNAN, MERGE1 DE BULNMAYAN KAYITLARIDA SILELIM.
*/
SELECT *
FROM [BussinesLife].[dbo].[MERGE2]

SELECT *
FROM [BussinesLife].[dbo].[MERGE1]

MERGE MERGE2 AS MTARGET
USING MERGE1 AS MSOURCE
ON MTARGET.ID = MSOURCE.ID
WHEN MATCHED THEN
     UPDATE SET MTARGET.EMail = MSOURCE.EMail
WHEN NOT MATCHED BY TARGET THEN
     INSERT (ID,EMail) VALUES (MSOURCE.ID,MSOURCE.EMail)
WHEN NOT MATCHED BY SOURCE THEN
     DELETE;